*{
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Encode Sans Regular'; 
    font-size: 1.5cqi; 
    margin: 0; 
    width: 100%;
}

.windowButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.4cqi 0.5cqi;
    gap: 1cqi;

    width: 8cqi;
    height: fit-content;

    background-color: #FFFAFC;
    border: 2px solid #D15C91;
    border-radius: 0px;
}

@font-face {
    font-family: 'Encode Sans SemiBold';
    src: url(fonts/EncodeSansCondensed-SemiBold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Encode Sans Bold';
    src: url(fonts/EncodeSansCondensed-Bold.ttf);
}

@font-face {
    font-family: 'Encode Sans Regular';
    src: url(fonts/EncodeSansCondensed-Regular.ttf);
}

@font-face {
    font-family: 'Encode Sans Medium';
    src: url(fonts/EncodeSansCondensed-Medium.ttf);
}

@font-face {
    font-family: 'Encode Sans Regular Italic';
    src: url(fonts/EncodeSansCondensed-Regular.ttf);
    font-style: italic;
}

.container {
    position: relative;
    width: 95vmin;
    max-width: 98vw;
    max-height: 98vh;

    aspect-ratio: 4 / 3;
    margin: 0 auto;

    background: black;
}

.screenFrame {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    height: 100%;
    width: 100%;
    object-fit: fill;
    z-index: 10;
    pointer-events: none;

    object-fit: contain;
}

.screen {
    position: absolute;
    place-self: center;
    inset: 0;

    width: 81.5%;
    height: 80%;
    z-index: 8;
    padding-bottom: 1%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #0d130e;
    container-type: inline-size;
    overflow: hidden;
    cursor: none;

    box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.9), 0 0 20px rgba(0, 255, 65, 0.2);

    margin: 0 auto;
}

.screen *{
    filter: blur(0.3px);
}

.screenOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9;

    background:
        linear-gradient(180deg, rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
        radial-gradient(circle, rgba(245, 250, 247, 0) 75%, rgba(0, 0, 0, 0.55) 100%);
    background-size: 100% 3px, 100% 100%;
}

.virtualCursor {
    position: absolute;
    width: 24px;
    height: 24px;

    background-image: url(cursors/arrow.cur);
    background-size: contain;
    background-repeat: no-repeat;

    pointer-events: none;
    z-index: 7;
    display: none;
}

.virtualCursor.point {
    background-image: url(cursors/arrow.cur);
}

.virtualCursor.link {
    background-image: url(cursors/link.cur);
}

.virtualCursor.wait {
    background-image: url(cursors/wait.cur);
}

.desktop {
    display: block;

    width: 100%;
    height: 100%;

    background-image: url(bliss.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    contain: layout;

    container-type: inline-size;
}

.desktopIconsContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1.5cqi;
    padding: 3cqi;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.desktopIconsColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    gap: 1cqi;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: left;

    width: 7cqi;
    height: 100%;
}

.desktopIconsColumn p {
    text-overflow: ellipsis;
}

.desktopIcon {
    display: flex;
    flex-direction: column;
    gap: 0.2cqi;
    align-items: center;
    justify-content: center;
    width: 8cqi;
    height: fit-content;

    overflow-x: hidden;
}

.desktopIcon img {
    width: 6cqi;
    height: 6cqi;
}

.desktopIcon p {
    font-family: 'Encode Sans Medium';
    font-size: 1.6cqi;
    color: #FFFAFC;
    word-break: break-all;
    pointer-events: none;
    text-align: center;
    text-shadow: 0.1cqi 0.1cqi #383034;
}

.window {
    display: none;
    flex-direction: column;
    position: absolute;

    border: 0.3cqi solid #383034;
    background-color: #FFFAFC;
    box-shadow: 1cqi 1cqi 0cqi #383034;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    
    padding: 0;
    padding-bottom: 1cqi;
    gap: 0;
    margin: 0;

    z-index: 15;
}

.windowTitleBar {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    gap: 3cqi;
    
    padding: 0 0.5cqi;
    flex-shrink: 0;

    background-color: #D15C91;
    border-bottom: 0.1cqi solid #383034;
    
    width: 100%;
    height: 3cqi;
}

.windowTitleBar p {
    text-overflow: ellipsis;
}

.win-btn {
    display: inline-block;
    width: 2cqi;
    height: 2cqi;
    border-radius: 50%;
    border: 0.2cqi solid #383034;
    box-sizing: border-box;
}

.win-close { background-color: #C74020;}
.win-min { background-color: #D9A65C;}
.win-max { background-color: #3A9947;}

.windowButtonsContainer {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 1cqi;
    align-items: center;
    justify-content: space-between;
    
    flex-shrink: 0;
    
    width: 100%;
    height: 3cqi;
}

.windowControls {
    display: flex;
    flex-direction: row;
    gap: 0.4cqi;
    align-items: center;
    justify-content: center;

    width: fit-content;
    height: fit-content;
}

.windowTitleBar p {
    font-family: 'Encode Sans SemiBold';
    width: 100%;
    font-size: 1.8cqi;
    margin: 0;
    color: #FFFAFC;

    pointer-events: none;
}

.welcomeContent {
    display: flex;
    flex-direction: row;
    
    box-sizing: border-box;
    padding: 2cqi;
    gap: 2cqi;
    width: 100%;
    height: 100%;
}

.dialogContent {
    display: flex;
    flex-direction: row;
    gap: 2cqi;
    
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.viewable-canvas {
    flex: 1; 
    position: relative; 
    box-sizing: border-box; 
    border: 0.4cqi solid #D15C91; 
    overflow: auto;  
    cursor: crosshair;
    background-color: #FFFAFC;
    width: 100%;
    height: 100%;
}

#board {
    display: block;
    width: inherit;
    height: inherit;
    cursor: crosshair;

    min-width: 50cqi;
    min-height: 50cqi;
    overflow: auto;
}

.taskbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #D15C91;
    width: 100%;
    height: fit-content;
    max-height: 8cqi;
    gap: 0.5cqi;

    margin: 0;
}

.taskbarIcons {
    display: flex;
    flex-direction: row;

    width: fit-content;
    height: 100%;
    box-sizing: border-box;
    padding: 0.8cqi;
    gap: 0.8cqi;

    user-select: none;
}

.taskbarIcons img {
    width: 3cqi;
    max-height: 100%;
}

.startButton {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: fit-content;
    background-color: #3aa335;
    border-top-right-radius: 16cqi;
    border-bottom-right-radius: 16cqi;
    padding: 0.8cqi;
    gap: 0.8cqi;
    box-sizing: border-box;
    align-items: center;

    user-select: none;
}

.startButton p {
    font-family: 'Encode Sans SemiBold';
    text-align: left;
    font-size: 2cqi;
    margin: 0;
    color: #FFFAFC;
}
.startButton img {
    width: 2.5cqi;
    max-height: 100%;
}

.startMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 18cqi;
    background-color: #FFFAFC;
    border: 0.3cqi solid #383034;
    z-index: 8;
    padding: 0.5cqi;
    gap: 0.5cqi;
}

.startMenu.active {
    display: flex;
}

.startMenuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1cqi;
    padding: 0.5cqi;
    cursor: pointer;
}

.startMenuItem:hover {
    background-color: #D15C91;
}

.startMenuItem:hover {
    color: #FFFAFC;
}

.startMenuItem img {
    width: 2cqi;
    height: 2cqi;
}

.startMenuItem p {
    font-family: 'Encode Sans Medium';
    font-size: 1.6cqi;
    color: #383034;
}

.notesField {
    width: 100%;
    min-width: 25cqi;
    height: 100%; 
    min-height: 10cqi;
    overflow-wrap: break-word;
    overflow: auto;
    text-wrap: wrap;
    box-sizing: border-box;

    padding: 1cqi;
    font-family: 'Encode Sans Regular';
    font-size: 2cqi;

    display: block; 
    white-space: pre-wrap;
}

.notesField:empty::before {
    content: attr(data-placeholder);
    color: #a6aca7;
    pointer-events: none;
    display: inline-block;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.spec-btn.active {
    background-color: #D15C91;
}

.spec-btn.active p {
    color: #FFFAFC;
}

.toolbar {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 0.5cqi;

    align-items: center;
    justify-content: space-evenly;
}

input[type="range"] {
    
    -webkit-appearance: none; /* Disables default WebKit styles for the whole input */
    appearance: none;
    width: 100%;
    height: 1cqi;          
    border-radius: 4cqi;
    outline: none;
    overflow: hidden;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1cqi;
    border-radius: 4cqi;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 1cqi;
    background: #a6aca7;
    border-radius: 4cqi;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5cqi;
    height: 1.5cqi;
    border-radius: 50%;
    background: #D15C91;
    cursor: pointer;

    box-shadow: -100vw 0 0 100vw #D15C91;
}

input[type="range"]::-moz-range-progress {
    background-color: #D15C91;
    height: 1cqi;
    border-radius: 4cqi 0 0 4cqi;
}

input[type="range"]::-moz-range-thumb {
    width: 1.5cqi;
    height: 1.5cqi;
    border-radius: 50%;
    background: #D15C91;
    cursor: pointer;
}
